<% layout('boilerplate') -%>

<style>
.wpwl-wrapper-brand{
    visibility: hidden;
}
.wpwl-label-brand{
    visibility: hidden;
}
</style>


<script>


</script>
<script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=<%=checkoutId %>"> </script>
<form action="https://wordpresshyperpay.docs.oppwa.com/tutorials/integration-guide?id=823B9FC7A23B1EAAE53EC67362FFDF33.uat01-vm-tx04&resourcePath=%2Fv1%2Fcheckouts%2F823B9FC7A23B1EAAE53EC67362FFDF33.uat01-vm-tx04%2Fpayment" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>